*{
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
.container {  
    display: flex;  
    max-width: 1000px;  
    margin: 0 auto;  
    box-sizing: border-box;  
    height: 100vh;  
    flex-direction: column;  
    justify-content: flex-start;  
    align-items: center;  
    border: 2px solid white;  
}
header {
    height: 80px;
    width: 100%;
    align-content: center;
    padding-left: 60px;
}
.homepage {
    color: rgb(170, 170, 170);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 800;
}
#iden {
    margin-bottom: 15px;
}
#main {
    width: 700px;
    height: 45rem;
    border: 1px solid white;
}
#signmain>p {
    font-weight: bold;
    font-size: 20px;
}
#sp { color: white; margin-left: 15px; margin-top: 5px;}
p {
    color: white;
    margin: 15px;
}
select {  
    width: 180px;  
    padding: 2px;  
    box-sizing: border-box;
}
input {
    width: 100%;
    height: 30px;
}
.Email_address {
    width: 45%;
    height: 30px;
}
#signbtn {
    margin-top: 30px;
    text-align: center;
}
#signbtn>button {
    width: 100%;
    height: 60px;
    font-weight: bold;
}